<!-- UDACITY ROS class - AMCL lab-->
<launch>
<arg name="map_file" default="$(find my_robot)/maps/map.yaml"/>
<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

<node name="amcl" pkg="amcl" type="amcl" output="screen">
  <!-- remap from="scan" to="<my_robot/laser/scan"/ -->
  <param name="odom_frame_id" value="odom"/>
  <param name="odom_model_type" value="diff-corrected"/>
  <param name="base_frame_id" value="robot_footprint"/>
  <param name="global_frame_id" value="map"/>

   <!-- Start w/ Pose as accuracte as possible -->
  <param name="initial_pose_x" value="50"/> 
  <param name="initial_pose_y" value="50"/>    
  <param name="initial_pose_a" value="-1.7"/> <!--initial pose mean (yaw)-->

   <!-- Overall filter -->

  <param name="odom_alpha1" value="0.005"/>  <!-- odoms noise rotation estimate from the rotational component of the robot's motion. -->
  <param name="odom_alpha2" value="0.005"/>  <!-- odoms noise rotation estimate from translational component of the robot's motion. -->
  <param name="odom_alpha3" value="0.010"/>  <!--  odoms noise  translation estimate from the translational component of the robot's motion. -->
  <param name="odom_alpha4" value="0.005"/>  <!--  odoms noise odometry's translation estimate from the rotational component of the robot's motion. -->
  <param name="min_particles" value="25"/>
  <param name="max_particles" value="500"/>

  <!-- Laser model -->
  <param name="laser_min_range" value="0.1"/>
  <param name="laser_max_range" value="30"/>
  <param name="laser_sigma_hit" value="0.01"/>

</node>

<node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
  <!-- remap from="scan" to="<my_robot/laser/scan"/ -->
  <param name="base_global_planner" value="navfn/NavfnROS" />
  <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
  <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
  <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
  <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
  <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
  <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml"  command="load" />
</node>

</launch>